body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #7aad88;
}

/* HEADER */
header {
    background: linear-gradient(to right, #8a5229, #c59a6a);
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

header nav a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(60%);
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 10%;
    color: rgb(240, 240, 240);
}

.hero-text h2 {
    font-size: 40px;
}

/* CONTENT */
.content-section {
    padding: 40px;
    text-align: center;
}

.content-section img {
    width: 70%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* QUIZ */
.quiz-section {
    background: #d0893c;
    padding: 40px;
    border-top: 5px solid #b88958;
}

#quiz-container div {
    margin-bottom: 20px;
    text-align: left;
}


